/* Card.css */
.heading {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    flex: 0 0 calc(33.33% - 32px); /* Adjust the width as needed, considering margin */
    max-height: 10%;
    border: 1px solid #ddd;
    border-radius: 8px;
    border: 5px solid #ddd;
    padding: 10px;
    margin: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    width: 100%;
    height: auto;
    /* border-radius: 8px; */
    object-fit: cover;
}

.card-content {
    flex-grow: 1;
    margin-top: 10px;
    text-align: center;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
    .card {
        flex: 0 0 calc(100% - 32px); /* Show one card in a row on smaller screens */
    }
}
