.registration-container {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.login-container {
    text-align: center;
}

.login-title {
    margin-bottom: 20px;
}

.registration-title {
    text-align: center;
    margin-bottom: 20px;
}

.registration-table-container {
    overflow-x: auto;
}

.registration-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.registration-table th,
.registration-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.registration-table th {
    background-color: #f2f2f2;
}

.registration-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.registration-table tr:hover {
    background-color: #ddd;
}

.registration-table .authors {
    white-space: nowrap;
    padding: 0;
}

.registration-table .authors li {
    list-style: none;
    margin-bottom: 5px;
}
